body {      
background: rgb(28, 30, 41); 
color: white;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
            }
            
h1 {
font-size: 39px;
margin-top: 200px;
font-family: 'Oswald';
color: #3375cc;
cursor: pointer;
text-align: center;
}

h1:hover {
transition-duration: 1s;
transition-delay: 5ms;
color: #62abff;
}
            
            

            ul {
              padding: 0;
              color: rgb(0, 0, 0);
              position: relative;
              left: 0;
              text-align: center;
              margin-top: 0;
              margin-bottom: 0;
                bottom: 0;
            }  
            li {
              cursor:pointer;
              padding: 15px;
              text-decoration: none;
              display: inline;
              bottom: 0;
              opacity: 0.7;
              
            }
li:hover {
  opacity: 10;
  transition-duration: 500ms;
}

h2 {
font-size: 80px;
text-align: center;
font-family: 'Oswald';
cursor: pointer;
color: #3375cc;
 bottom: 40px;
margin-bottom: 0px;
}
            
::-webkit-scrollbar {
border-radius: 25px;
width: 10px;
height: 5px;
}


::-webkit-scrollbar-track {
  background:  #555;
  border-radius: 25px; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;
}


::-webkit-scrollbar-thumb:hover {
  background: #888; 
}      


img {
  object-fit: cover;  
  cursor: pointer;
  
}


.socials:hover {
  box-shadow: #111 50px;
  transition-duration: 5ms;
}

::-moz-selection { 
  color: rgb(39, 39, 48);
  background: rgb(162, 235, 238);
}

::selection {
  color: rgb(39, 39, 48);
  background: rgb(162, 235, 238);
}


.custom-shape-divider-top-1630987779 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630987779 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 170px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1630987779 .shape-fill {
    fill: rgb(66, 147, 240);
}

svg {
  fill: #2a86ff;
  height: 21px;
  width: 31px;
}


h6 {
  font-family:  'Source Sans Pro';
  color: #75a8c6;
  text-align: center;
  font-size: 34px;
  margin-top: 0;
  padding: 0;
  top: 0;
}

@font-face {
    font-family: "discord";
    src: url("assets/fonts/discord.woff2") format('woff');
}

a {
  text-decoration: none;
}