body {
background: rgb(28, 30, 41); 
color: white;
}



.material-icons {
  display: inline;
  color: #3375cc;
  background: rgba(0, 0, 0, 0.253);
  border-radius: 10%;
}

.material-icons:hover {
  background: rgb(0,0,0,0.5);
  transition-duration: 2s;
}

button {
background-color: rgba(10, 16, 70, 0.418);
border: none;
border-radius: 25px;
}

.t {
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 49px;
}